<div class="edit-question-container">
  <label for="pergunta-input">Pergunta:</label>
  <input
    id="pergunta-input"
    type="text"
    [(ngModel)]="question.texto"
    class="input-pergunta"
  />

  <div class="respostas">
    <div *ngFor="let answer of question.answers" class="resposta-item">
      <input
        type="text"
        [(ngModel)]="answer.texto"
        class="input-resposta"
      />

      <label>
        <input
          type="radio"
          [name]="'respostaCorreta' + question.id"
          [checked]="answer.correta"
          (change)="marcarComoCorreta(answer.id)"
        />
        Correta
      </label>
    </div>
  </div>

  <div class="botoes-edicao">
    <button (click)="updateQuestion()" class="btn-salvar" type="button">
      Salvar Alterações
    </button>
    <button (click)="cancel.emit()" class="btn-cancelar" type="button">
      Cancelar
    </button>
  </div>
</div>
