.login-container{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-color: #FFFFF2;
}
  
.login-container2{
  width: 100%;
  max-width: 400px; /* ou o tamanho que quiser */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
   border: 50px;
}


h1,h2{
   text-align: center;
}

#links{
   justify-content: space-between;
   display: flex;
}

.botao{
   color: aqua;
   
}