
<div *ngIf="!isCheckingAuth">

  <ng-container *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
    <nz-header class="main-header" nz-row>
      <div>
        <a class="logo" routerLink="/login">Quiz da Galera</a>
      </div>
      <div class="nav-links">
        <a nz-button nzType="link" routerLink="/register">Sign Up</a>
        <a nz-button nzType="link" routerLink="/login">Login</a>
      </div>
    </nz-header>
  </ng-container>

  <ng-container *ngIf="isAdminLoggedIn">
    <nz-header class="main-header" nz-row>
      <div>
        <a class="logo" routerLink="/admin/dashboard">Quiz da Galera</a>
      </div>
      <div class="nav-links">
        <a nz-button nzType="link" routerLink="/admin/dashboard">Quizes</a>
        <a nz-button nzType="link" routerLink="/admin/create-test">Criar Quiz</a>
        <a nz-button nzType="link" (click)="logout()">Logout</a>
      </div>
    </nz-header>
  </ng-container>


  <ng-container *ngIf="isUserLoggedIn">
    <nz-header class="main-header" nz-row>
      <div>
        <a class="logo" routerLink="/user/dashboard">Quiz da Galera</a>
      </div>
      <div class="nav-links">
        <a nz-button nzType="link" routerLink="/user/dashboard">Quizes</a>
        <a nz-button nzType="link" routerLink="/user/perfil">Perfil</a>
        <a nz-button nzType="link" (click)="logout()">Logout</a>
      </div>
    </nz-header>
  </ng-container>


  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</div>
