<div class="take-test">
  <h2>{{ quiz?.titulo }}</h2>

  <form (ngSubmit)="enviar()">
    <div
      class="question"
      *ngFor="let question of quiz?.questions"
      [ngClass]="{
        'pergunta-correta': resultado && isPerguntaCorreta(question.id),
        'pergunta-errada': resultado && isPerguntaErrada(question.id)
      }"
    >
      <h3>{{ question.texto }}</h3>

      <div *ngFor="let answer of question.answers">
        <label>
          <input
            type="radio"
            name="question{{ question.id }}"
            [value]="answer.id"
            (change)="selecionarResposta(question.id, answer.id)"
            [checked]="answers[question.id] === answer.id"
            [disabled]="resultado"
            required
          />
          {{ answer.texto }}
        </label>
      </div>

      <div *ngIf="resultado && isPerguntaErrada(question.id)" style="color: #dc3545; font-weight: 500;">
        Você errou esta pergunta.
      </div>
    </div>

    <div style="text-align: center;" *ngIf="!resultado">
      <button type="submit">Enviar</button>
    </div>
  </form>

  <div class="resultado" *ngIf="resultado">
    <p>Acertos: {{ resultado.acertos }} / {{ resultado.total }}</p>
    <p>Erros: {{ resultado.erros }}</p>
    <p>Nota: {{ resultado.score }}</p>

     <button type="button" (click)="refazerQuiz()" style="margin-top: 1rem;">
    Refazer Quiz
  </button>
  </div>
</div>
