<div class="parent">
  <div class="child">
    <nz-typography>
      <h2>Perfil do Usuário</h2>
    </nz-typography>

    <div class="user-info">
      <div class="user-details">
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>
    </div>

    <nz-typography>
      <h3>Meus Resultados</h3>
    </nz-typography>

    <nz-table 
      *ngIf="quizStats?.length > 0"
      [nzData]="quizStats" 
      [nzPageSize]="5" 
      [nzFrontPagination]="true"
      [nzShowPagination]="true"
    >
      <thead>
        <tr>
          <th>Nome do Quiz</th>
          <th>Porcentagem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quizStats">
          <td>{{ quiz.testName }}</td>

          <td>{{ quiz.percentage }}%</td>
        </tr>
      </tbody>
    </nz-table>

    <p *ngIf="quizStats?.length === 0">Nenhum resultado encontrado.</p>
  </div>
</div>
