<div class="parent">
    <div class="child">
        <form nz-form [formGroup]="questionForm" class="login-form">
            <nz-form-label [nzNoColon]="true">Título da pergunta</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                <input type="text" nz-input formControlName="questionText" placeholder="Texto da pergunta"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-label [nzNoColon]="true">Opção A</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                    <input type="text" nz-input formControlName="optionA" placeholder="Opção A"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-label [nzNoColon]="true">Opção B</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                    <input type="text" nz-input formControlName="optionB" placeholder="Opção B"/>
                </nz-form-control>
            </nz-form-item>

             <nz-form-label [nzNoColon]="true">Opção C</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                    <input type="text" nz-input formControlName="optionC" placeholder="Opção C"/>
                </nz-form-control>
            </nz-form-item>

             <nz-form-label [nzNoColon]="true">Opção D</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                    <input type="text" nz-input formControlName="optionD" placeholder="Opção D"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-label [nzNoColon]="true">Opção Correta</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Essa entrada é necessária!">
                    <input type="text" nz-input formControlName="correctOption" placeholder="Correct Option"/>
                </nz-form-control>
            </nz-form-item>

            <div style="padding-bottom: 30px;">
                <button nz-button class="login-form-button" [nzType]="'primary'">Enviar</button>
            </div>

        </form>
    </div>
</div>